<!DOCTYPE html>
<html>
<head>
  <title>Oopsie</title>
  <%= stylesheet_link_tag    "oopsie/application", media: "all" %>
  <%= javascript_include_tag "oopsie/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
